/*Base Styles*/
* {
  vertical-align: top;
}



/*Layout Styles*/

body {
  font-family: Helvetica, sans-serif;
  color: #7ab5de;
  margin: 0;
  padding: 10px;
}


/*Module Styles*/

.outer-box {
  width: 400px;
  height: 500px;
}

.tshirt-box  {
  width: 397px;
  height: 440px;
  border: 3px solid #7ab5de;
  border-bottom: 0;
}

.tshirt-box--tshirt-image {
  width: 400px;
}

.tshirt-box--tshirt-image img {
  width: 330px;
  margin: 33px;
}

.icon-box {
  width: 400px;
  height: 60px;
  float: left;
}

.icon-box--icon {
  width: 77px;
  height: 50px;
  border: 3px solid #7ab5de;
  border-right: 0;
  display: inline-block;
  float: left;
}

.icon-box--icon:first-child {
  border-left: 0;
}
 .icon-box--button {
   width: 60px;
   height: 50px;
   margin: auto;
 }

.icon-box--button img {
  width: 100%;
  height: 50px;
}

.icon-box--icon {
  font-size: .7rem;
}
.icon-box--text {
  display: inline-block;
  margin: auto 26px;
 }

.icon-box--colored-box {
  width: 30px;
  height: 30px;
}

.footer-box {
  height: 60px;
  font-size: .6rem;
}

.footer-box--description {
  float: left;
}

.footer-box--price {
  float: right;
}


.clearfix {
  clear: both;
  zoom: 1;
}
/*State Styles*/
