/*Base Styles*/
* {
  vertical-align: top;
}



/*Layout Styles*/

body {
  font-family: Helvetica, sans-serif;
  color: #81BCE6;
  margin: 5px;

}


/*Module Styles*/


.outer-box {
  width: 360px;
  height: 500px;
  display: inline-block;
  margin: 0 25px;
}

.rotate {
  width: 27px;
  height: 27px;
  background-image: url(../images/assets/icons/rotate.png);
  background-size: contain;
  background-position: center;
  border: 3px solid #7ab5d3;
  border-right: 0;
  float: right;
  display: inline-block;
}

.rotate:hover{
  background-image: url(../images/assets/icons/rotate_hover.png);
}
.tshirt-box  {
  width: 357px;
  height: 432px;
  border: 3px solid #81BCE6;
  border-bottom: 0;


}

.tshirt-box--tshirt-image {
  width: 360px;
  padding-top: -30px;
}

.tshirt-box--tshirt-image img {
  width: 290px;
  margin: 33px;
}

.icon-box {
  width: 360px;
  height: 60px;
  float: left;
}

.icon-box--icon:first-child {
  border-left: 0;
}

.icon-image1 {
  background: url(../images/assets/icons/button_1.png);
}
.icon-image2 {
  background: url(../images/assets/icons/button_2.png);
}
.icon-image3 {
  background: url(../images/assets/icons/button_3.png);
}

.icon-box--icon {
  width: 69px;
  height: 50px;
  font-size: .7rem;
  border: 3px solid #81BCE6;
  border-right: 0;
  display: inline-block;
  float: left;
  position:relative;
  background-size: contain;
  background-position: center;
  background-color: white;
}

.icon-box--icon:hover .icon-box--hidden-box-size {
   visibility: visible;
   opacity: 1;
 }
 .icon-box--icon:hover .icon-box--hidden-box-color {
    visibility: visible;
    opacity: 1;
  }
 .icon-image1:hover {
  background-image: url(../images/assets/icons/button_1_hover.png);
  visibility: visible;
}

.icon-image2:hover {
  background-image: url(../images/assets/icons/button_2_hover.png);
}

.icon-image3:hover {
  background-image: url(../images/assets/icons/button_3_hover.png);
}

.icon-box--text {
  display: inline block;
  width: 70px;
  text-align: center;
  margin: 0 auto;
 }
.icon-box--icon:hover {
  background-color: #81BCE6;
}
.icon-box--text:hover {
  color: #fff;
  background-color: #81BCE6;
}
.icon-box--hidden-box-size {
  width: 75px;
  height: 175px;
  border: 3px solid #81BCE6;
  background-color: #fff;
  position:absolute;
  bottom: 100%;
  padding-right: 5px;
  margin-left: -8px;
  visibility: hidden;
}

.icon-box--colored-box1 {
  width: 30px;
  height: 30px;
  background-color: #81BCE6;
  margin: 9px 19px;
  display: inline-block;
  border: 2px solid white;
}

.icon-box--colored-box2 {
  width: 30px;
  height: 30px;
  background-color: #D482AA;
  margin: 9px 19px;
  display: inline-block;
  border: 2px solid white;
}

.icon-box--colored-box3 {
  width: 30px;
  height: 30px;
  background-color: #DEB17E;
  margin: 9px 19px;
  display: inline-block;
  border: 2px solid white;
}

.icon-box--hidden-box-color {
  width: 76px;
  height: 76px;
  border: 3px solid #81BCE6;
  background-color: #fff;
  position:absolute;
  bottom: 100%;
  padding: 5px;
  margin-left: -10px;
  visibility: hidden;
}

.icon-box--hidden-box-section {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 3px solid white;
}

.blue {
  background-color: #81BCE6;

}

.pink {
  background-color: #D482AA;
}

.puke {
  background-color: #DEB17E;
}

.green {
  background-color: #8BB992;
}


.footer-box {
  width:363px;
  height: 60px;
  font-size: .6rem;
}

.footer-box--description {
  float: left;
}

.footer-box--price {
  float: right;
}


.clearfix {
  clear: both;
  zoom: 1;
}
/*State Styles*/
